* {
  box-sizing: border-box;
}
body {
  color: #544837;
  line-height: 26px;
  font-family: 'Montserrat';
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
 min-height: 80px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 80px;
}
.container-text {
 width: 500px;
 height: 300px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-between;
}
.logo {
  width: 200px;
  height: 32px;
}
.ul-container {
  display: flex;
  width: 352px;
  height: 28px;
  gap: 20px; 
  justify-content: space-between;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
}
.text-style {
  text-decoration: none; 
  color: #2F281E;
}


.button-blok {
  display: flex;
  justify-content: space-between;
  width: 252px;
  height: 46px;
}
.button {
  padding: 12px 22px;
  font-weight: 600;
  line-height: 20px;
  background: #FF9900;
  border-radius: 4px;
  color: #FFFFFF;
  border: 1px solid #BCD0E5;
}
.button:active {
  color:  #000;; 
  background: #FFFFFF;
  transition: all .2s ease-in;
}
.button-outline {
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  background: transparent;
  color: #000;
}
.button-outline:active {
  color: #FFFFFF; 
  background: #000;
  transition: all .2s ease-in;
}
.flex-box {
  height: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.text-box {
 width: 524px;
 
}
.img-bg {
  height: 510px;
  background: url(/Productly/images/bg.svg);
  background-position-y: bottom;
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom: 100px;
  
}
.card-box {
  width: 1200px;
  height: 180px;
  display: flex;
  justify-content: space-between;
}
.blok-tests {
  width: 270px;
  height: 174px;
  margin: 0;
}
.heading-h1 {
 font-size: 44px;
 font-weight: 700;
 line-height: 54px;
 margin: 0 0;
}
.paragraph-style {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.heading-h2 {
 font-size: 36px;
 line-height: 44px;
 margin: 0;
 
}
.heading-h3 {
  font-size: 22px;
  font-weight: 600;
}
.taxt-center {
  text-align: center;
}